In [ ]:
# operand : it is a data ,which is used to perform a task
# operator : it is a symbol which is used to perform a task

# ARTHAMATIC OPERATORS
# + , - , * , / , % , // , **

In [2]:
# + : Addition
a = 10
b = 20
print(a+b)

30

In [8]:
st = "sandhya"
st1 = "sravana"
print(st + st1)

sandhyasravana

In [10]:
l1 = [1,2,3]
l2 = [4,5,6]
print(l1+l2)
print(l1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [12]:
t1 = (1,2,3)
t2 = (4,5,6)
res = t1 + t2
print(res)

(1, 2, 3, 4, 5, 6)

In [13]:
# "-" : SUBTRACTION
a = 10
b = 20
res = a - b
print(res)

-10

In [14]:
# "*" : MULTIPLICATION
num = 10
num2 = 20
res = num * num2
print(res)

200

In [15]:
num1 = 10
num2 = 0.6
print( num1 * num2)

6.0

In [16]:
num = 10+2j
num2 = 2
print(num * num2)

(20+4j)

In [22]:
# "/" : DIVISION
num1 = 10
num2 = 5
print(num1 / num2)

2.0

In [18]:
a = 10+2j
b = 2
print(a / b)

(5+1j)

In [20]:
# "//" : FLOOR DVISION
num1 = 10
num2 = 5
print(num1 // num2)

2

In [21]:
# "%" : MODULUS
num1 = 10
num2 = 5
print(num1 % num2)

0

In [23]:
# "**" : power
num1 = 10
num2 = 5
print(num1 ** num2)

100000

In [1]:
# relational operators
# these  are the symbols used to find the relation between two operands
# ">" : GREATER THAN
a = 10
b = 20
print(a > b)

False

In [2]:
st = "sandhya"
st1 = "ram"
print(st > st1)

True

In [3]:
st = "python"
st1 = "pyThon"
print(st > st1)

True

In [5]:
l = [1,2,3]
l1 = [4,5,5]
print(l > l1)

False

In [6]:
# "<" : LESS THAN
st = "sandhya"
st1 = "vardhini"
print(st < st1)

True

In [7]:
#  COMPARISION OPERATORS
#  THIS are the  operators used to check op1 is equals to op2 or not
# "==" : EQUAL TO
a = 10
b = 20
print(a == b)

False

In [8]:
a = 10
b = 20
print(a != b)

True

In [9]:
# LOGICAL OPERATORS
# these are the operators works on the principle of logical gets.
# "and" : AND OPERATOR
# t f = f
# f t = f
# f f = f
# t t = t
print(True and True)

True

In [10]:
print (False and True)

False

In [11]:
# "or : OR OPERATOR
# f f =f
# f t = t
# t f = t
# t t = t
print(True or True)

True

In [15]:
# not : not operator
#  true = false
# false = true
num = 7
res = not (num > 6)
print(res)

False

In [16]:
# MEMBERSHIP OPERATORA
# "IN": IN OPERATOR
print(1 in {1,2,3})

True

In [18]:
# "not in" : not in operator
print(1 not in {1,2,3})

False